<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="categorie">
            <h2><span jhiTranslate="sigrhpApp.categorie.detail.title">Categorie</span> {{ categorie.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sigrhpApp.categorie.libelle">Libelle</span></dt>
                <dd>
                    <span>{{ categorie.libelle }}</span>
                </dd>
                <dt><span jhiTranslate="sigrhpApp.categorie.code">Code</span></dt>
                <dd>
                    <span>{{ categorie.code }}</span>
                </dd>
                <dt><span jhiTranslate="sigrhpApp.categorie.structure">Structure</span></dt>
                <dd>
                    <div *ngIf="categorie.structure">
                        <a [routerLink]="['/structure', categorie.structure?.id, 'view']">{{ categorie.structure?.denomination }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/categorie', categorie.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
