<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pieces">
            <h2><span jhiTranslate="sigrhpApp.pieces.detail.title">Pieces</span> {{ pieces.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sigrhpApp.pieces.libelle">Libelle</span></dt>
                <dd>
                    <span>{{ pieces.libelle }}</span>
                </dd>
                <dt><span jhiTranslate="sigrhpApp.pieces.dateCreation">Date Creation</span></dt>
                <dd>
                    <span>{{ pieces.dateCreation }}</span>
                </dd>
                <dt><span jhiTranslate="sigrhpApp.pieces.dateExpiration">Date Expiration</span></dt>
                <dd>
                    <span>{{ pieces.dateExpiration }}</span>
                </dd>
                <dt><span jhiTranslate="sigrhpApp.pieces.image">Image</span></dt>
                <dd>
                    <div *ngIf="pieces.image">
                        <a (click)="openFile(pieces.imageContentType, pieces.image)">
                            <img [src]="'data:' + pieces.imageContentType + ';base64,' + pieces.image" style="max-width: 100%;" alt="pieces image"/>
                        </a>
                        {{ pieces.imageContentType }}, {{ byteSize(pieces.image) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="sigrhpApp.pieces.collaborateur">Collaborateur</span></dt>
                <dd>
                    <div *ngIf="pieces.collaborateur">
                        <a [routerLink]="['/collaborateur', pieces.collaborateur?.id, 'view']">{{ pieces.collaborateur?.prenom }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pieces', pieces.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
