<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="typeContrat">
            <h2><span jhiTranslate="sigrhpApp.typeContrat.detail.title">Type Contrat</span> {{ typeContrat.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sigrhpApp.typeContrat.libelle">Libelle</span></dt>
                <dd>
                    <span>{{ typeContrat.libelle }}</span>
                </dd>
                <dt><span jhiTranslate="sigrhpApp.typeContrat.code">Code</span></dt>
                <dd>
                    <span>{{ typeContrat.code }}</span>
                </dd>
                <dt><span jhiTranslate="sigrhpApp.typeContrat.structure">Structure</span></dt>
                <dd>
                    <div *ngIf="typeContrat.structure">
                        <a [routerLink]="['/structure', typeContrat.structure?.id, 'view']">{{ typeContrat.structure?.denomination }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/type-contrat', typeContrat.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
