<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="typeRelation">
            <h2><span jhiTranslate="sigrhpApp.typeRelation.detail.title">Type Relation</span> {{ typeRelation.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sigrhpApp.typeRelation.libelle">Libelle</span></dt>
                <dd>
                    <span>{{ typeRelation.libelle }}</span>
                </dd>
                <dt><span jhiTranslate="sigrhpApp.typeRelation.code">Code</span></dt>
                <dd>
                    <span>{{ typeRelation.code }}</span>
                </dd>
                <dt><span jhiTranslate="sigrhpApp.typeRelation.nbParts">Nb Parts</span></dt>
                <dd>
                    <span>{{ typeRelation.nbParts }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/type-relation', typeRelation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
