<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="demandeConge">
            <h2><span jhiTranslate="sigrhpApp.demandeConge.detail.title">Demande Conge</span> {{ demandeConge.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sigrhpApp.demandeConge.dateDebut">Date Debut</span></dt>
                <dd>
                    <span>{{ demandeConge.dateDebut }}</span>
                </dd>
                <dt><span jhiTranslate="sigrhpApp.demandeConge.dateFin">Date Fin</span></dt>
                <dd>
                    <span>{{ demandeConge.dateFin }}</span>
                </dd>
                <dt><span jhiTranslate="sigrhpApp.demandeConge.motifRejet">Motif Rejet</span></dt>
                <dd>
                    <span>{{ demandeConge.motifRejet }}</span>
                </dd>
                <dt><span jhiTranslate="sigrhpApp.demandeConge.libelle">Libelle</span></dt>
                <dd>
                    <span>{{ demandeConge.libelle }}</span>
                </dd>
                <dt><span jhiTranslate="sigrhpApp.demandeConge.statutRH">Statut RH</span></dt>
                <dd>
                    <div *ngIf="demandeConge.statutRH">
                        <a [routerLink]="['/statut-demande', demandeConge.statutRH?.id, 'view']">{{ demandeConge.statutRH?.libelle }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="sigrhpApp.demandeConge.statutDG">Statut DG</span></dt>
                <dd>
                    <div *ngIf="demandeConge.statutDG">
                        <a [routerLink]="['/statut-demande', demandeConge.statutDG?.id, 'view']">{{ demandeConge.statutDG?.libelle }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="sigrhpApp.demandeConge.collaborateur">Collaborateur</span></dt>
                <dd>
                    <div *ngIf="demandeConge.collaborateur">
                        <a [routerLink]="['/collaborateur', demandeConge.collaborateur?.id, 'view']">{{ demandeConge.collaborateur?.prenom }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="sigrhpApp.demandeConge.typeAbsence">Type Absence</span></dt>
                <dd>
                    <div *ngIf="demandeConge.typeAbsence">
                        <a [routerLink]="['/type-absence', demandeConge.typeAbsence?.id, 'view']">{{ demandeConge.typeAbsence?.libelle }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/demande-conge', demandeConge.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
