<div>
    <h2 id="page-heading">
        <span jhiTranslate="sigrhpApp.remboursement.home.title">Remboursements</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-remboursement" [routerLink]="['/remboursement/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="sigrhpApp.remboursement.home.createLabel">
            Create a new Remboursement
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="remboursements?.length === 0">
        <span jhiTranslate="sigrhpApp.remboursement.home.notFound">No remboursements found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="remboursements && remboursements.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateRemboursement"><span jhiTranslate="sigrhpApp.remboursement.dateRemboursement">Date Remboursement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="montant"><span jhiTranslate="sigrhpApp.remboursement.montant">Montant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="isRembourse"><span jhiTranslate="sigrhpApp.remboursement.isRembourse">Is Rembourse</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="detailPret.libelle"><span jhiTranslate="sigrhpApp.remboursement.detailPret">Detail Pret</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let remboursement of remboursements ;trackBy: trackId">
                    <td><a [routerLink]="['/remboursement', remboursement.id, 'view']">{{ remboursement.id }}</a></td>
                    <td>{{ remboursement.dateRemboursement | date:'mediumDate' }}</td>
                    <td>{{ remboursement.montant }}</td>
                    <td>{{ remboursement.isRembourse }}</td>
                    <td>
                        <div *ngIf="remboursement.detailPret">
                            <a [routerLink]="['/detail-pret', remboursement.detailPret?.id, 'view']" >{{ remboursement.detailPret?.pret?.libelle }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/remboursement', remboursement.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/remboursement', remboursement.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(remboursement)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="remboursements && remboursements.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
