<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <div class="jumbotron">
            <h1 class="display-4" jhiTranslate="home.nomapp">SIG-RH!</h1>
            <p class="lead" jhiTranslate="home.devise">Système Informatique de Gestion Ressources Humaines.</p>
            <hr class="my-4">
            <p jhiTranslate="home.integre">Il intègre:</p>
        </div>

        <div class="row">
            <div style="width: 19px"></div>
            <!--<div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message"
                      translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>-->
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header">Bulletin</div>
                <div class="card-body">
                    <h5 class="card-title">Gestion membres familliale</h5>
                    <p class="card-text">Calcul et èdition des bulletins.</p>
                </div>
            </div>
            <div style="width: 90px"></div>
            <div class="card text-dark bg-warning mb-3" style="max-width: 18rem;">
                <div class="card-header">Conges / Absences</div>
                <div class="card-body">
                    <h5 class="card-title">Fiche de Personnel</h5>
                    <p class="card-text">Gestion des demande de congés et/ ou Absences</p>
                </div>
            </div>
            <div style="width: 90px"></div>
            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                <div class="card-header">Archivage des Piéces</div>
                <div class="card-body">
                    <h5 class="card-title">Impression</h5>
                    <p class="card-text">Sécurité - Paramétrage...</p>
                </div>
            </div>
        </div>
    </div>
</div>
