<div>
    <h2 id="page-heading">
        <span jhiTranslate="sigrhpApp.collaborateur.home.title">Collaborateurs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-collaborateur" [routerLink]="['/collaborateur/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="sigrhpApp.collaborateur.home.createLabel">
            Create a new Collaborateur
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="collaborateurs?.length === 0">
        <span jhiTranslate="sigrhpApp.collaborateur.home.notFound">No collaborateurs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="collaborateurs && collaborateurs.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="prenom"><span jhiTranslate="sigrhpApp.collaborateur.prenom">Prenom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nom"><span jhiTranslate="sigrhpApp.collaborateur.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="matricule"><span jhiTranslate="sigrhpApp.collaborateur.matricule">Matricule</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="adresse"><span jhiTranslate="sigrhpApp.collaborateur.adresse">Adresse</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tauxHoraire"><span jhiTranslate="sigrhpApp.collaborateur.tauxHoraire">Taux Horaire</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="salaireDeBase"><span jhiTranslate="sigrhpApp.collaborateur.salaireDeBase">Salaire De Base</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="surSalaire"><span jhiTranslate="sigrhpApp.collaborateur.surSalaire">Sur Salaire</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="retenueRepas"><span jhiTranslate="sigrhpApp.collaborateur.retenueRepas">Retenue Repas</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateNaissance"><span jhiTranslate="sigrhpApp.collaborateur.dateNaissance">Date Naissance</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="photo"><span jhiTranslate="sigrhpApp.collaborateur.photo">Photo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="login"><span jhiTranslate="sigrhpApp.collaborateur.login">Login</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="sigrhpApp.collaborateur.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="primeTransport"><span jhiTranslate="sigrhpApp.collaborateur.primeTransport">Prime Transport</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telephone"><span jhiTranslate="sigrhpApp.collaborateur.telephone">Telephone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numeroRib"><span jhiTranslate="sigrhpApp.collaborateur.numeroRib">Numero Rib</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fonction.libelle"><span jhiTranslate="sigrhpApp.collaborateur.fonction">Fonction</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="categorie.libelle"><span jhiTranslate="sigrhpApp.collaborateur.categorie">Categorie</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nationalite.libelle"><span jhiTranslate="sigrhpApp.collaborateur.nationalite">Nationalite</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="statut.libelle"><span jhiTranslate="sigrhpApp.collaborateur.statut">Statut</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="situationMatrimoniale.libelle"><span jhiTranslate="sigrhpApp.collaborateur.situationMatrimoniale">Situation Matrimoniale</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="typeContrat.libelle"><span jhiTranslate="sigrhpApp.collaborateur.typeContrat">Type Contrat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="regime.libelle"><span jhiTranslate="sigrhpApp.collaborateur.regime">Regime</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userCollab.login"><span jhiTranslate="sigrhpApp.collaborateur.userCollab">User Collab</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sexe.libelle"><span jhiTranslate="sigrhpApp.collaborateur.sexe">Sexe</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="structure.denomination"><span jhiTranslate="sigrhpApp.collaborateur.structure">Structure</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let collaborateur of collaborateurs ;trackBy: trackId">
                    <td><a [routerLink]="['/collaborateur', collaborateur.id, 'view']">{{ collaborateur.id }}</a></td>
                    <td>{{ collaborateur.prenom }}</td>
                    <td>{{ collaborateur.nom }}</td>
                    <td>{{ collaborateur.matricule }}</td>
                    <td>{{ collaborateur.adresse }}</td>
                    <td>{{ collaborateur.tauxHoraire }}</td>
                    <td>{{ collaborateur.salaireDeBase }}</td>
                    <td>{{ collaborateur.surSalaire }}</td>
                    <td>{{ collaborateur.retenueRepas }}</td>
                    <td>{{ collaborateur.dateNaissance | date:'mediumDate' }}</td>
                    <td>
                        <a *ngIf="collaborateur.photo" (click)="openFile(collaborateur.photoContentType, collaborateur.photo)">
                            <img [src]="'data:' + collaborateur.photoContentType + ';base64,' + collaborateur.photo" style="max-height: 30px;" alt="collaborateur image"/>
                        </a>
                        <span *ngIf="collaborateur.photo">{{ collaborateur.photoContentType }}, {{ byteSize(collaborateur.photo) }}</span>
                    </td>
                    <td>{{ collaborateur.login }}</td>
                    <td>{{ collaborateur.email }}</td>
                    <td>{{ collaborateur.primeTransport }}</td>
                    <td>{{ collaborateur.telephone }}</td>
                    <td>{{ collaborateur.numeroRib }}</td>
                    <td>
                        <div *ngIf="collaborateur.fonction">
                            <a [routerLink]="['/fonction', collaborateur.fonction?.id, 'view']" >{{ collaborateur.fonction?.libelle }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="collaborateur.categorie">
                            <a [routerLink]="['/categorie', collaborateur.categorie?.id, 'view']" >{{ collaborateur.categorie?.libelle }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="collaborateur.nationalite">
                            <a [routerLink]="['/nationalite', collaborateur.nationalite?.id, 'view']" >{{ collaborateur.nationalite?.libelle }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="collaborateur.statut">
                            <a [routerLink]="['/statut', collaborateur.statut?.id, 'view']" >{{ collaborateur.statut?.libelle }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="collaborateur.situationMatrimoniale">
                            <a [routerLink]="['/situation-matrimoniale', collaborateur.situationMatrimoniale?.id, 'view']" >{{ collaborateur.situationMatrimoniale?.libelle }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="collaborateur.typeContrat">
                            <a [routerLink]="['/type-contrat', collaborateur.typeContrat?.id, 'view']" >{{ collaborateur.typeContrat?.libelle }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="collaborateur.regime">
                            <a [routerLink]="['/regime', collaborateur.regime?.id, 'view']" >{{ collaborateur.regime?.libelle }}</a>
                        </div>
                    </td>
                    <td>
                        {{ collaborateur.userCollab?.login }}
                    </td>
                    <td>
                        <div *ngIf="collaborateur.sexe">
                            <a [routerLink]="['/sexe', collaborateur.sexe?.id, 'view']" >{{ collaborateur.sexe?.libelle }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="collaborateur.structure">
                            <a [routerLink]="['/structure', collaborateur.structure?.id, 'view']" >{{ collaborateur.structure?.denomination }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/collaborateur', collaborateur.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/collaborateur', collaborateur.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(collaborateur)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="collaborateurs && collaborateurs.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
