<div>
    <h2 id="page-heading">
        <span jhiTranslate="sigrhpApp.avantageCollab.home.title">Avantage Collabs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-avantage-collab" [routerLink]="['/avantage-collab/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="sigrhpApp.avantageCollab.home.createLabel">
            Create a new Avantage Collab
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="avantageCollabs?.length === 0">
        <span jhiTranslate="sigrhpApp.moisConcerne.home.notFound">No avantageCollabs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="avantageCollabs && avantageCollabs.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="montant"><span jhiTranslate="sigrhpApp.avantageCollab.montant">Montant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="collaborateur.prenom"><span jhiTranslate="sigrhpApp.avantageCollab.collaborateur">Collaborateur</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="avantage.libelle"><span jhiTranslate="sigrhpApp.avantageCollab.avantage">Avantage</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let avantageCollab of avantageCollabs ;trackBy: trackId">
                    <td><a [routerLink]="['/avantage-collab', avantageCollab.id, 'view']">{{ avantageCollab.id }}</a></td>
                    <td>{{ avantageCollab.montant }}</td>
                    <td>
                        <div *ngIf="avantageCollab.collaborateur">
                            <a [routerLink]="['/collaborateur', avantageCollab.collaborateur?.id, 'view']" >{{ avantageCollab.collaborateur?.prenom }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="avantageCollab.avantage">
                            <a [routerLink]="['/avantage', avantageCollab.avantage?.id, 'view']" >{{ avantageCollab.avantage?.libelle }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/avantage-collab', avantageCollab.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/avantage-collab', avantageCollab.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(avantageCollab)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="avantageCollabs && avantageCollabs.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
