<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-exercice-heading" jhiTranslate="sigrhpApp.exercice.home.createOrEditLabel">Create or edit a Exercice</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sigrhpApp.exercice.debutExercice" for="field_debutExercice">Debut Exercice</label>
                    <input type="number" class="form-control" name="debutExercice" id="field_debutExercice"
                           formControlName="debutExercice"/>
                    <div *ngIf="editForm.get('debutExercice')!.invalid && (editForm.get('debutExercice')!.dirty || editForm.get('debutExercice')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('debutExercice')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('debutExercice')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <!-- <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sigrhpApp.exercice.finExercice" for="field_finExercice">Fin Exercice</label>
                    <input type="number" class="form-control" name="finExercice" id="field_finExercice"
                           formControlName="finExercice"/>
                </div> -->

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sigrhpApp.exercice.actif" for="field_actif">Actif</label>
                    <input type="checkbox" class="form-control" name="actif" id="field_actif"
                           formControlName="actif"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
