<div>
    <h2 id="page-heading">
        <span jhiTranslate="sigrhpApp.structure.home.title">Structures</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-structure" [routerLink]="['/structure/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="sigrhpApp.structure.home.createLabel">
            Create a new Structure
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="structures?.length === 0">
        <span jhiTranslate="sigrhpApp.structure.home.notFound">No structures found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="structures && structures.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="denomination"><span jhiTranslate="sigrhpApp.structure.denomination">Denomination</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telephone"><span jhiTranslate="sigrhpApp.structure.telephone">Telephone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="adresse"><span jhiTranslate="sigrhpApp.structure.adresse">Adresse</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ninea"><span jhiTranslate="sigrhpApp.structure.ninea">Ninea</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="capital"><span jhiTranslate="sigrhpApp.structure.capital">Capital</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numeroIpres"><span jhiTranslate="sigrhpApp.structure.numeroIpres">Numero Ipres</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numeroCss"><span jhiTranslate="sigrhpApp.structure.numeroCss">Numero Css</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ipm"><span jhiTranslate="sigrhpApp.structure.ipm">Ipm</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="montantIpm"><span jhiTranslate="sigrhpApp.structure.montantIpm">Montant Ipm</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="convention.libelle"><span jhiTranslate="sigrhpApp.structure.convention">Convention</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let structure of structures ;trackBy: trackId">
                    <td>{{ structure.denomination }}</td>
                    <td>{{ structure.telephone }}</td>
                    <td>{{ structure.adresse }}</td>
                    <td>{{ structure.ninea }}</td>
                    <td>{{ structure.capital|number }}</td>
                    <td>{{ structure.numeroIpres }}</td>
                    <td>{{ structure.numeroCss }}</td>
                    
                    <td>{{ structure.ipm?'Oui':'Non' }}</td>
                    
                    <td>{{ structure.montantIpm|number }}</td>
                    <td>
                        <div *ngIf="structure.convention">
                            <a [routerLink]="['/convention', structure.convention?.id, 'view']" >{{ structure.convention?.libelle }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/structure', structure.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/structure', structure.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(structure)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="structures && structures.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
